<template>
    <div id="list" class="header">
      <div style="text-align:start">
        <h4 style="font-weight:400;font-size:18px;margin-bottom: 12px;">Hello Floyd Mullins</h4>
        <small style="color:grey;">You have {{totalCount}} tasks</small>
      </div>
      <img
        class="avatar"
        src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png"
      >
    </div>
</template>
<script>
import {mapState} from 'vuex'
export default {
    name:"Header",
    data(){
        return {}
    },
    methods:{

    },
    computed:mapState({
        totalCount: state=>state.todos.todos.length
    })
}
</script>
<style scoped>
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
  margin-bottom: 30px;
}
.avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 25px;
  margin-top: 13px;
}
</style>

