<template>
  <div id="clock">
    <div class="mins-hand">hi</div>
    <div class="seconds-hand"></div>
    <div class="hours-hand"></div>
  </div>
</template>

<script>
export default {
  name: 'Clock',
  data () {
    return {
      msg: 'Clock Component'
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
#clock{
 height: 30rem;
 width: 30rem;
 border-radius: 50%;
 border: 20px solid blue;
 text-align: center;
 margin:50px auto;
};
</style>
<style>
.mins-hand{
  background-color: #212121;
  height: 10px;
  width:50%;
  top:50%;
  position: absolute;
}
</style>
