<template>
  <div class="container">
    <Header v-if="pageType=='list'" id="list" />
    <div v-if="pageType=='create'" style="margin-bottom:20px;" class="header header-create">
      <div @click="closeEditor()" class="close-div" v-bind:class="rotateMe ? 'rotate':''">X</div>
    </div>
    <div class="body" v-if="pageType=='list'">
      <drag v-for="task in todos" :key="task.id" :transfer-data="{task}"
        @dragstart="changeButtonStyle"
        @dragend="hideDropButton"
        >
        <div v-if="task.status!='done'" class="card" >
          <span class="card-header">
            <h4 class="title">{{task.title}}</h4>
            <font-awesome-icon icon="clock"/>
          </span>
          <span class="date-d">Due {{task.dueDate}}</span>
        </div>
        <div v-if="task.status=='done'" class="done-card" style="padding:0">
          <span class="done-box">
            <font-awesome-icon icon="check-circle"/>
          </span>
          <span class="card done-right">
            <span class="card-header">
                <h4
                  class="title"
                >{{task.title}}</h4>
                <font-awesome-icon icon="clock"/>
            </span>
            <span class="date-d">Due Fri Aug 8</span>
          </span>
        </div>
      </drag>
    </div>
    <div class="body create" id="create" key="create" data-placeholder="What would you like to add?" v-if="pageType=='create'" contenteditable="true">

    </div>
    <div class="above-footer" v-if="pageType=='create'" id="above-footer"> 
      <div key="main-div" id="main-div">
        <span id="label-for-date">{{selectedDueDate}}</span>
        <VueCtkDateTimePicker 
        v-model="selectedDueDate"
        :no-value-to-custom-elem="true"
        :only-date="true"
        :min-date="minDate"
        class="date-icon"
        :output-format="'MMM DD, YYYY'"
      >
        <font-awesome-icon icon="calendar"/>
      </VueCtkDateTimePicker>
      
      <font-awesome-icon class="clip-icon" icon="paperclip"/>
      </div>
    </div>
    
    <div class="footer">
      <drop class="drop" @drop="handleDrop" @dragenter="increaseBtnHeight" @dragleave="decreaseBtnHeight" >
        <button 
          v-bind:class="[pageType=='list' ? showDropEffect ? 'show-delete-btn' :'add-small-button' : 'add-big-button',isDragOver? 'increased-height' :'normal-height' ]"
          @click="saveTask()"
        >
        <font-awesome-icon class="clip-icon" icon="trash" v-if="showDropEffect"/>
        <font-awesome-icon class="clip-icon" icon="plus" v-if="!showDropEffect"/>
        </button>
      </drop>
    </div>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import Header from './todocomps/Header'
export default {
  name: "TodoApp",
  components:{Header},
  data() {
    return {
      minDate: new Date().toISOString().split('T')[0],
      selectedDueDate: this.minDate,
      rotateMe:false,
      showDropEffect:false,
      isDragOver:false,
      pageType: "list",
      saveTask:()=>{
        if(this.pageType==="list"){
          this.changePageType()  
        }else{
          let descDiv = document.getElementById('create');
          if(!descDiv.innerText || !descDiv.innerText.trim()){
            return;
          }
          let prevTaskId = 0;
          if(this.todos && this.todos.length){
            prevTaskId = this.todos[this.todos.length-1].id;
          }
          let task  = {id:prevTaskId+1};
          task.title = descDiv.innerText,
          task.dueDate = this.selectedDueDate,
          task.status = "due"
          this.pushTaskToList(task)
          this.changePageType()
        }
      },
      changePageType: () => {
        
        this.pageType = this.pageType === "list" ? "create" : "list";
      },
      closeEditor:()=>{
        this.rotateMe=true;
        setTimeout(() => {
          this.rotateMe=false;
          this.changePageType();
        }, 200);
      },
      
    };
  },
  methods: {
    handleDrop(data,event){
      this.deleteTaskFromList(data.task.id)
      this.showDropEffect = false;
      this.isDragOver = false
    },
    changeButtonStyle(data,event){
      if(data && data.task && data.task.id){
        this.showDropEffect = true
      }
    },
    hideDropButton(data,event){
      this.showDropEffect = false;
      this.isDragOver = false
    },
    increaseBtnHeight(data,event){
      debugger
      this.isDragOver = true
    },
    decreaseBtnHeight(data,event){
      // this.isDragOver = false;
    },
    ...mapActions('todos',[
      'pushTaskToList',
      'deleteTaskFromList'
    ])
    
  },
  computed:mapState({
    todos:state=>state.todos.todos
  })
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
.above-footer{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
#label-for-date{
  margin-right: 10px;
  line-height: 12px;
}
.date-icon, .paper-icon{
  width: 5%;
  margin: unset
}
#main-div{
  display: flex;
  align-items: flex-end;
  width:100%;
  justify-content: flex-end;
}
.header-create{
  max-height: 20px !important;
}
.done-box{
  background: lightgreen;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  flex: 1;
}
.done-right{
  flex:7;
  margin-top: 0 !important;
}
.date-d{
  color:grey;
  font-size: 12px;
}
.drop{
  width:100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  min-height: 35px;
  padding: 10px 12px;
  text-align: start;
  box-shadow: 0 1px 0px -1px rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
}
.card-header{
  display:flex;
  justify-content:space-between;
}
.title{
  color:#212121;
  font-size:14px;
  font-weight:400;
  margin:0;
}
.done-card{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  min-height: 35px;
  box-shadow: 0 1px 0px -1px rgba(0, 0, 0, 0.2), 0 0px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 1px 0 rgba(0, 0, 0, 0.12) !important;
}
.add-small-button {
  height: 54px;
  width: 54px;
  font-size: 40px;
  color: #fff;
  background: #4e70ea;
  border-radius: 30px;
  border: 0px;
  transition: width 0.5s;
  cursor: pointer;
}
.show-delete-btn{
  height: 54px;
  width: 54px;
  font-size: 40px;
  color: #fff;
  background: red;
  border-radius: 30px;
  border: 0px;
  transition: width 0.5s;
}
.add-big-button {
  height: 54px;
  width: 100%;
  font-size: 40px;
  color: #fff;
  background: #4e70ea;
  border: 0px;
  transition: width 0.5s;
  cursor: pointer;
}
.increased-height{
  height: 60px;
  width: 60px;
}
div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
  content: attr(data-placeholder);
  float: left;
  margin-left: 2px;
  color: #b3b3b3;
}
.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  /* justify-content: flex-start; */
  padding: 20px 10px;
}
.container > *{
  flex: 1 1 auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 100px;
  margin-bottom: 30px;
}
.body{
  /* flex:8; */
  /* max-height: 400px; */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.create{
  display:flex;
  flex-direction: column;
  text-align: left;
}
#create{
  flex:2;
  text-align:left;
}
.footer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex:1; 
}
.rotate {
 -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}
.close-div{
  transition: transform 0.5s linear;
  transform-origin: center center;
  width: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

}

</style>
